{{define "user/edit.html"}}
<!-- 用户项目详情其他信息配置禁用配置 -->
<!--  common js  -->
<script src="/public/common/common.js"></script>

<div id="edit-container"
     style="padding-top:20px;padding-left: 50px;padding-right:50px;display: none;">
    <div class="layui-form layui-form-pane">

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">基础认证</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="info_basic_auth" lay-skin="primary" title="禁用">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">健康监测</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="info_health_check" lay-skin="primary" title="禁用">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">内网加速</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="info_inner_acc" lay-skin="primary" title="禁用">
                </div>
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">host绑定</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="info_hosts" lay-skin="primary" title="禁用">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">流量限制</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="info_request_limit" lay-skin="primary" title="禁用">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">资源限制</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="info_resource_limit" lay-skin="primary" title="禁用">
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">主机调度</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="info_host_required" lay-skin="primary" title="禁用">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">grpc</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="info_grpc" lay-skin="primary" title="禁用">
                </div>
            </div>

            <div class="layui-inline">
                <label class="layui-form-label">网络磁盘</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="info_volume_pvc" lay-skin="primary" title="禁用">
                </div>
            </div>

        </div>


        <div class="layui-form-item" pane="">
            <label class="layui-form-label">调度标签</label>
            <div class="layui-input-block">
                <input type="text" name="set_host_labels" lay-verify="title" autocomplete="off"
                       placeholder='json例如: [{" key":"corecd.group","value":"true"}]' class="layui-input">
            </div>
        </div>

        <div class="layui-form-item" pane="">
            <label class="layui-form-label">网路磁盘</label>
            <div class="layui-input-block">
            {{range .volumes}}
                <input type="checkbox" class="set_volume_ids" data-id="{{.Id}}" lay-skin="primary"
                       title="({{.Env}}) {{.Name}}">
            {{end}}
            </div>
        </div>

        <br>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" id="btn-edit-submit">&nbsp;确认&nbsp;</button>
                <button class="layui-btn" id="btn-edit-cancel">&nbsp;取消</button>
            </div>
        </div>
    </div>
</div>
<script>

    $(function () {
        //初始化layui
        layui.use(['form', 'layedit', 'layer'], function () {
            layui.form.render();
        });
    });

    $('#edit-container').hide();

    operateUserId = null;
    //编辑详情
    $('.btn-require-info').click(function () {
        operateUserId = $(this).closest('tr').data('id');

        $.ajax({
            type: "get",
            url: "/user/require/" + operateUserId,
            contentType: 'application/json;charset=utf-8',
            dataType: "json",
            success: function (data) {
                if (data.code) {
                    displayErr(data.msg, loadingIndex);
                } else {
                    openWindow(data.data)
                }
            },
            error: function (e) {
                displayErr(e, loadingIndex);
            }
        });
    });

    infos = [
        'info_basic_auth',
        'info_health_check',
        'info_inner_acc',
        'info_hosts',
        'info_request_limit',
        'info_resource_limit',
        'info_host_required',
        'info_grpc',
        'info_volume_pvc'
    ];

    function openWindow(data) {
        //渲染info面板配置
        for (i = 0; i < infos.length; i++) {
            if (data[infos[i]]) {
                console.log($("input:checkbox[name='" + infos[i] + "']"))
                $("input:checkbox[name='" + infos[i] + "']").attr("checked", true);
            }
        }
        //渲染主机调度策略配置
        $("input[name='set_host_labels']").val(data.set_host_labels);
        try {
            set_volume_ids = JSON.parse(data.set_volume_ids);
            $('.set_volume_ids').each(function () {
                if (inArray($(this).data('id'), set_volume_ids)) {
                    $(this).attr("checked", true);
                }
            });
        } catch (e) {
        }

        layui.form.render();

        layui.layer.open({
            type: 1,
            area: ['800px', '460px'],
            title: '用户定制配置', //不显示标题
            content: $('#edit-container'),
            cancel: function () {
                // layer.msg('捕获就是从页面已经存在的元素上，包裹layer的结构', {time: 5000, icon: 6});
            }
        });
    }

    //取消
    $('#btn-edit-cancel').click(function () {
        layui.layer.closeAll();
    });

    //提交
    $('#btn-edit-submit').click(function () {
        var data = {};
        for (i = 0; i < infos.length; i++) {
            data[infos[i]] = $("input:checkbox[name='" + infos[i] + "']").prop('checked') ? 1 : 0;
        }
        data['set_host_labels'] = $("input[name='set_host_labels']").val();
        var set_volume_ids = [];
        $('.set_volume_ids').each(function () {
            if ($(this).prop('checked') == 1) {
                set_volume_ids.push($(this).data('id'));
            }
        });
        data['set_volume_ids'] = JSON.stringify(set_volume_ids);
        console.log(data);
        //loading层
        var loadingIndex = layui.layer.load(1, {shade: [0.1, '#000000']});
        $.ajax({
            type: "post",
            url: "/user/require/" + operateUserId,
            contentType: 'application/json;charset=utf-8',
            dataType: "json",
            data: JSON.stringify(data),
            success: function (data) {
                if (data.code) {
                    displayErr(data.msg, loadingIndex);
                } else {
                    display('修改成功', function () {
                        window.location.reload();
                    });
                }
            },
            error: function (e) {
                displayErr(e, loadingIndex);
            }
        })
    });
</script>
{{end}}