{{define "user/createProjects.html"}}
    {{template "layout/top.html" .}}

    <!-- MAIN CONTENT -->
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">
                <a href="/sys/user">< 返回 | </a>已创建项目<span v-if="projects">(数量：${projects.length})</span>
                <span v-html="developersHtml[currentUser.ID]" :data-developer="currentUser.ID" @click="onDisplayDeveloper(currentUser.ID)">
                </span>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="v in projects">
                    <td>${v.id}</td>
                    <td>${v.env}.${v.use}.<span class="badge">${v.name}</span></td>
                    <td>${v.create_time}</td>
                    <td>
                        <a class="btn btn-sm btn-primary" target="_blank" :href="'/project/info?id='+v.id">查看项目</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        vueMixin = {
            data: {
                currentUser:{{.user}},
                projects:{{.projects}},
            }
        }
    </script>
    {{template "layout/footer.html" . }}
{{end}}









