{{define "sys/cfg_registry.html"}}
    <div class="row" v-show="cfgSelect=='镜像仓库'">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    System basic image
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Pure builder image</label>
                    <input class="form-control" placeholder="例如: harbor.xx.com" v-model="image.ci.address" disabled>
                </div>
                <div class="form-group">
                    <label>Pure kubectl/helm image</label>
                    <input class="form-control" placeholder="" v-model="image.kubehelm.address" disabled>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    Image Registry Setting
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>仓库域</label>
                    <input class="form-control" placeholder="例如: harbor.xx.com" v-model="data.registry.host">
                </div>
                <div class="form-group">
                    <label>仓库账号</label>
                    <input class="form-control" placeholder="" v-model="data.registry.username">
                </div>
                <div class="form-group">
                    <label>仓库密码</label>
                    <input class="form-control" placeholder="" v-model="data.registry.password">
                </div>
                <div class="form-group">
                    <label>仓库项目</label>
                    <input class="form-control" placeholder="例如：project，则整体镜像操作路径为harbor.xx.com/project/..."
                           v-model="data.registry.project">
                </div>
            </div>
        </div>

    </div>
{{end}}