{{define "sys/cfg_k8s.html"}}
    <div class="row" v-show="cfgSelect=='集群配置'">
        <div class="panel panel-default" v-for="(v,i) in data.k8s">
            <div class="panel-heading">
                <div class="panel-title">Kubernetes Cluster ${i}</div>
                <div class="right" style="top:5px">
                    <a class="btn btn-sm btn-danger" @click="onDelK8s(i)">移除</a>
                </div>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>k8s集群名称</label>
                    <input class="form-control" v-model="v.name" placeholder="如：prod、test、dev等">
                </div>
                <div class="form-group">
                    <label>命名空间</label>
                    <input class="form-control" v-model="v.namespace" placeholder="如：web">
                </div>
                <div class="form-group">
                    <label>k8s集群kubeConfig</label>
                    <textarea class="form-control" v-model="v.kubeConfig" placeholder="yaml配置"></textarea>
                </div>
                <div class="form-inline" style="margin-bottom: 10px;">
                    <div class="input-group">
                        <div class="input-group-addon">pod cpu限制核数</div>
                        <input class="form-control" v-model="v.podLimitCpu" placeholder="cpu限制核数">
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">pod mem限制MB</div>
                        <input class="form-control" v-model="v.podLimitMem" placeholder="内存限制MB">
                    </div>
                </div>
                <div class="form-inline">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" v-model.number="v.cd"> 支持服务部署
                        </label>
                    </div>
                    <div class="input-group" v-if="v.cd==1">
                        <div class="input-group-addon">部署NodeSelector(可选)</div>
                        <input class="form-control" v-model="v.cdNodeSelector" placeholder="如：visible.worker=true">
                    </div>
                    <div class="input-group" v-if="v.cd==1">
                        <div class="input-group-addon">主机磁盘挂载(可选)</div>
                        <input class="form-control" v-model="v.cdVolume" placeholder="如：/data:/opt,/a:/b">
                    </div>
                </div>
                <div class="form-inline">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" v-model.number="v.ci"> 支持镜像构建
                        </label>
                    </div>
                    <div class="input-group" v-if="v.ci==1">
                        <div class="input-group-addon">构建NodeSelector(可选)</div>
                        <input class="form-control" v-model="v.ciNodeSelector" placeholder="如：visible.ci=true">
                    </div>
                    <div class="input-group" v-if="v.ci==1">
                        <div class="input-group-addon">主机磁盘挂载(可选)</div>
                        <input class="form-control" v-model="v.ciVolume" placeholder="如：/data:/opt,/a:/b">
                    </div>
                </div>
                <div class="form-inline">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" v-model.number="v.gt"> 支持接口压测
                        </label>
                    </div>
                    <div class="input-group" v-if="v.gt==1">
                        <div class="input-group-addon">压测NodeSelector(可选)</div>
                        <input class="form-control" v-model="v.gtNodeSelector" placeholder="如：visible.gt=true">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <a class="btn btn-success" @click="onAddK8s()">+ 追加集群</a>
        </div>
    </div>
    <script>
        vueMixinList.push({
            methods: {
                onDelK8s(index) {
                    displayConfirm('WARNING: 确认移除该k8s集群配置？', '确认', '取消', () => {
                        this.data.k8s.splice(index, 1);
                    });
                },
                onAddK8s() {
                    var newItem = {podLimitCpu: 2, podLimitMem: 2000};
                    if (!this.data.k8s) {
                        this.data.k8s = [newItem];
                    } else {
                        this.data.k8s.push(newItem);
                    }
                },
            }
        });
    </script>
{{end}}