{{define "sys/cfg_common.html"}}

    <script src="/public/assets/js/wangEditor.min.js"></script>
    <div class="row" v-show="cfgSelect=='常规配置'">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    系统公告
                </div>
            </div>
            <div class="panel-body">
                <div id="editor" v-html="data.common.notice"></div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="panel-title">
                    部署阻断
                </div>
            </div>
            <div class="panel-body">
                <input placeholder="若不为空则上线时进行阻断" class="form-control" v-model="data.common.onlineBlock">
            </div>
        </div>
    </div>

    <script>
        vueMixinList.push({
            mounted() {
                this.editor = new wangEditor('#editor');
                this.editor.config.zIndex = 500;
                this.editor.config.height = 400;
                this.editor.create();
            }
        })
    </script>
{{end}}









