{{define "sys/log.html"}}
    {{template "layout/top.html" .}}
    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">系统日志（仅保留近7天）</h3>
            <div class="right">
                <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i>
                </button>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-inline">
                    <div class="input-group">
                        <div class="input-group-addon">用户ID</div>
                        <input type="text" class="form-control" placeholder="用户ID" v-model="search.id"
                               @keyup.enter="onSearch">
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon">模糊搜索</div>
                        <input type="text" class="form-control" placeholder="用户名或操作项目" v-model="search.name"
                               @keyup.enter="onSearch">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" @click="onSearch">Go!</button>
                        </span>
                    </div>

                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>用户</th>
                                <th>操作项目</th>
                                <th>操作时间</th>
                                <th>查看详情</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(v,i) in list">
                                <td>
                                    <a class="badge layui-bg-gray" @click="onDisplayDeveloper(v.Uid)">${v.Uid}.${v.Username}</a>
                                </td>
                                <td>
                                    ${v.ActionName}
                                </td>
                                <td>
                                    ${v.CreatedAt}
                                </td>
                                <td>
                                    <button class="btn btn-primary btn-sm" @click="onDetail(v)">查看</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- END TABLE NO PADDING -->
                        {{.rendering}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        vueMixin = {
            data: {
                baseURL:'/sys/log',
                list: {{.list}},
                search: {{.search}}
            },
            methods: {
                onSearch() {//搜索
                    window.location = `${this.baseURL}?` + $.param(this.search);
                },
                onDetail(v) {
                    layer.alert(v.Detail);
                }
            }
        }
    </script>
    {{template "layout/footer.html" .}}
{{end}}