{{define "sys/user_acc.html"}}
    {{template "layout/top.html" .}}

    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">
                <a href="/sys/user">< 返回</a>
                | 给用户权限 (<span v-html="developersHtml[developer.ID]" :data-developer="developer.ID"
                                 @click="onDisplayDeveloper(developer.ID)"></span>)
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="搜索权限名称" v-model="search"
                               @keyup="onSearch">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button" @click="onSave()">更新数据</button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div>

            <br><br>
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" v-model="selectAll" @change="onSelectAll">权限（已分配数量:
                                            ${total})
                                        </label>
                                    </div>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(v,i) in list">
                                <td>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" v-model="v.selected" @change="onSelectChange">
                                            ${v.Name}
                                        </label>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- END TABLE NO PADDING -->
                        {{.rendering}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        vueMixin = {
            data: {
                baseURL: '/sys/user/acc',
                developer:{{.user}},
                total: 0,
                has: {{.has}},
                all: {{.all}},
                list:{{.all}},
                search: '',
                selectAll: false,
            },
            methods: {
                onSelectAll() {//全选切换
                    for (var key in this.list) {
                        this.list[key].selected = this.selectAll;
                    }
                    this.onSelectChange();
                },
                onSearch() {//搜索
                    if (!this.search) {
                        this.list = this.all;
                        return;
                    }
                    var newList = [];
                    for (var k in this.all) {
                        if ((this.all[k].Name).indexOf(this.search) !== -1) {
                            newList.push(this.all[k]);
                        }
                    }
                    this.list = newList;
                },
                onSelectChange() {
                    var total = 0;
                    for (var key in this.list) {
                        if (this.list[key].selected) {
                            total++;
                        }
                    }
                    this.total = total;
                },
                onSave() {//保存
                    var data = [];
                    for (var k in this.all) {
                        if (this.all[k].selected) {
                            data.push(parseInt(this.all[k].ID));
                        }
                    }
                    reqPostJson(`${this.baseURL}`, {uid: this.developer.ID, list: data});
                }
            },
            created() {
                for (var k in this.has) {//初始化选中
                    for (var k2 in this.all) {
                        if (this.has[k].Aid == this.all[k2].ID) {
                            this.all[k2].selected = true;
                            break;
                        }
                    }
                }
                this.onSelectChange();
            }
        }
    </script>
    {{template "layout/footer.html" .}}
{{end}}