{{define "cfg/index.html"}}
    {{template "layout/top.html" .}}
    <!-- 镜像仓库 -->
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">
                Image Repository
            </div>
            <div class="right">
                <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i>
                </button>
            </div>
        </div>
        <div class="panel-body" style="padding-left: 40px;">
            <div class="form-group">
                <label>仓库域<span style="color: #FF1717">*</span></label>
                <input type="text" class="form-control" v-model="cfg.registryHost" placeholder="registry.xx.com">
            </div>
            <div class="form-group">
                <label>账户</label>
                <input type="text" class="form-control" v-model="cfg.registryUsername" placeholder="账号">
            </div>
            <div class="form-group">
                <label>密码</label>
                <input type="password" class="form-control" v-model="cfg.registryPassword" placeholder="密码">
            </div>
            <div class="form-group">
                <label>命名空间</label>
                <input type="text" class="form-control" v-model="cfg.registryNamespace" placeholder="如：test">
            </div>
        </div>
    </div>
    <!-- gitlab oauth2 -->
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">
                Gitlab OAuth2
            </div>
            <div class="right">
                <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i>
                </button>
            </div>
        </div>
        <div class="panel-body" style="padding-left: 40px;">
            <div class="form-group">
                <label>Address</label>
                <input type="text" class="form-control" v-model="cfg.gitlabAddress" placeholder="https://giltab.xx.com">
            </div>
            <div class="form-group">
                <label>AppID</label>
                <input type="text" class="form-control" v-model="cfg.gitlabAppId" placeholder="应用程序ID">
            </div>
            <div class="form-group">
                <label>AppSecret</label>
                <input type="text" class="form-control" v-model="cfg.gitlabAppSecret" placeholder="秘钥">
            </div>
            <div class="form-group">
                <label>RedirectURI</label>
                <input type="text" class="form-control" v-model="cfg.gitlabRedirectUri" placeholder="回调地址，如：http://127.0.0.1/open/oauth/callback">
            </div>
        </div>
    </div>
    <!-- 系统阻断 -->
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">
                系统部署阻断
            </div>
            <div class="right">
                <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i>
                </button>
            </div>
        </div>
        <div class="panel-body" style="padding-left: 40px;">
            <div class="form-group">
                <label>阻断内容</label>
                <input type="text" class="form-control" v-model="cfg.onlineBlock" placeholder="为空则不阻断项目部署">
            </div>
        </div>
    </div>
    <div class="form-group">
        <a class="btn btn-primary" @click="onSave()">保存</a>
    </div>

    <script>
        var cfg = {{.cfg}};
        if (!cfg) {
            cfg = {};
        }
    </script>
    <!-- vue -->
    <script>
        vueMixin = {
            data: {
                cfg: cfg,
            },
            methods: {
                onSave() {
                    displayConfirm('确认保存?', '确认', '取消', () => {
                        var requestURL = baseURL('/cfg');
                        var data = deepCloneObject(this.cfg);
                        reqPostJson(requestURL, data, baseURL('/cfg'));
                    });
                },
            },
            created() {
            },
        };
    </script>

    {{template "layout/footer.html" . }}
{{end}}