{{define "project/_other_info_code_ci.html"}}

<div v-show="tab.name=='shell'">
    <!-- 集成脚本 -->
    <div class="form-group">
        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                <li class="layui-this">
                    Linux Shell&nbsp;
                </li>
            </ul>
            <div class="layui-tab-content" style="height: auto;min-height: 200px;">
                <div class="layui-tab-item layui-show">
                        <textarea style="height: 200px;" class="form-control codeValue"
                                  placeholder="执行一些项目初始化操作，例如：
npm install
composer install
cp  subConfig/application.ini conf/application.ini
cp  subProject public/web
unzip -d ./ vendor/vendor.zip`"
                                  v-model="project.shell"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

{{end}}









