{{define "project/apply.html"}}
    {{template "layout/top.html" .}}
    <!-- 基础信息 -->
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">
                <a href="/project">< 返回 | </a>项目部署 (${project.name})
            </div>
            <div class="right">
                <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i>
                </button>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label>版本标号<span style="color: #FF1717">*</span></label>
                <input type="text" class="form-control" v-model="info.version" placeholder="如: v1.1">
            </div>
            <div class="form-group">
                <label>上线内容<span style="color: #FF1717">*</span></label>
                <textarea class="form-control" rows="4" v-model="info.desc"
                          placeholder="如：1、上线xxxx；2、xxxxx;"></textarea>
            </div>
            <div class="form-group">
                <label>Node选择<span style="color: #FF1717">*</span></label>
                <select class="form-control" v-model.number="info.nodeId">
                    <option value="0">选择Node节点</option>
                    <option v-for="v in nodes" :value="v.id">${v.name} ${v.ip}</option>
                </select>
            </div>
        </div>
    </div>
    <!-- 核心配置End -->
    <div class="form-group">
        <a class="btn btn-primary" @click="onOnline()">上线</a>
    </div>

    <script>
        var project = {{.project}};
        var info = {{.history}};
        if (!info) {
            info = {nodeId: 0};
        }
    </script>
    <!-- vue -->
    <script>
        vueMixin = {
            data: {
                nodes:{{.nodes}},
                project: project,
                info: info,
            },
            methods: {
                onOnline() {
                    displayConfirm('确认上线?', '确认', '取消', () => {
                        var requestURL = baseURL('/project/i/', this.project.id, '/online')
                        var data = {version: this.info.version, desc: this.info.desc, nodeId: this.info.nodeId};
                        reqPostJson(requestURL, data, (resData) => {
                            window.location = baseURL('/history/i', resData.id);
                        });
                    });
                },
            },
            created() {//初始化数据合法化
                this.info.version = '';
            },
        };
    </script>

    {{template "layout/footer.html" . }}
{{end}}