{{define "project/apply.html"}}
    {{template "layout/top.html" .}}
    <!-- 基础信息 -->
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">
                <a href="/project">< 返回 | </a>项目构建/部署 (${project.name})
            </div>
            <div class="right">
                <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i>
                </button>
            </div>
        </div>
        <div class="panel-body">
            <div class="form-group" v-if="!project.cronjob">
                <label>版本标号</label>
                <div class="input-group" v-show="!rollback">
                    <div class="input-group-btn">
                        <a class="btn btn-info">上线版本号</a>
                    </div>
                    <input type="text" class="form-control" v-model="info.version" placeholder="如: v1.1（默认：latest)">
                </div>
                <div class="input-group" v-if="project.mode=='docker'">
                    <div class="input-group-btn">
                        <a class="btn btn-warning">回滚版本号</a>
                    </div>
                    <select class="form-control" v-model.number="rollback">
                        <option value="0">选择回滚版本（可选）</option>
                        <option :value="v.id" v-for="v in rollbackVersions">${v.version+' ('+v.createdAt+')'}</option>
                    </select>
                </div>
            </div>
            <div class="form-group" v-if="project.cronjob">
                <label>Cronjob</label>
                <input type="text" class="form-control" :value="project.cronjob" disabled>
            </div>
            <div class="form-group">
                <label>上线/回滚内容<span style="color: #FF1717">*</span></label>
                <textarea class="form-control" rows="4" v-model="info.desc"
                          placeholder="如：1、上线xxxx；2、xxxxx;"></textarea>
            </div>
            <div class="form-group" v-if="project.mode!='image'">
                <label>Node选择<span style="color: #FF1717">*</span></label>
                <div class="input-group" v-for="(v,i) in info.nodes">
                    <select class="form-control" v-model.number="v.id">
                        <option value="0">选择Node节点</option>
                        <option v-for="v2 in nodes" :value="v2.id">${v2.name} ${v2.ip}</option>
                    </select>
                    <div class="input-group-btn">
                        <a class="btn btn-success" v-if="i==0" @click="info.nodes.push({id:0})" style="width: 100px;">ADD</a>
                        <a class="btn btn-danger" v-if="i>0" @click="info.nodes.splice(i,1)"
                           style="width: 100px;">DEL</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 核心配置End -->
    <div class="form-group">
        <a class="btn btn-danger" @click="onOnline()" v-if="rollback">回滚</a>
        <a class="btn btn-primary" @click="onOnline()" v-if="!rollback">上线</a>
    </div>

    <script>
        var project = {{.project}};
        var info = {{.history}};
        if (!info) {
            info = {};
        }
        if (info.node && info.node.id) {
            node = info.node;
        } else {
            node = {id: 0};
        }
        objectArrayInitForRender(info, "nodes", node);
    </script>
    <!-- vue -->
    <script>
        vueMixin = {
            data: {
                nodes:{{.nodes}},
                project: project,
                info: info,
                rollback: 0,
                rollbackVersions:{{.rollbackVersions}},
            },
            methods: {
                onOnline() {
                    var nodeIds = [];
                    var nodeMap = {};
                    for (var item of this.info.nodes) {
                        if (!item.id) {
                            continue;
                        }
                        if (nodeMap.hasOwnProperty(item.id)) {
                            showAlert('目标节点不能重复');
                            return;
                        }
                        nodeMap[item.id] = 1;
                        nodeIds.push(item.id);
                    }
                    displayConfirm(`确认${this.rollback ? '回滚至该版本' : '上线'}?`, '确认', '取消', () => {
                        var requestURL = baseURL('/project/i/', this.project.id, '/online')
                        var data = {
                            rollback: this.rollback,
                            version: this.info.version,
                            desc: this.info.desc,
                            nodeIds: nodeIds,
                        };
                        reqPostJson(requestURL, data, (resData) => {
                            if (resData.id) {
                                window.location = baseURL('/history/i', resData.id);
                            } else {
                                window.location = baseURL('/project');
                            }
                        });
                    });
                },
            },
            created() {//初始化数据合法化
                this.info.version = '';
            },
        };
    </script>

    {{template "layout/footer.html" . }}
{{end}}