{{define "project/config_mode_docker.html"}}

    <div v-show="project.mode=='docker'">

        <!-- dockerfile -->
        <div class="form-group">
            <label>
                Dockerfile
            </label>
            <textarea rows="10" class="form-control"
                      placeholder="若为空则以宿主机模式运行"
                      v-model="project.docker.dockerfile"></textarea>
        </div>
        <!-- name -->
        <div class="form-group">
            <label>docker run --name</label>
            <input class="form-control"
                   placeholder="容器别名"
                   v-model="project.docker.name"/>
        </div>
        <!-- run options -->
        <div class="form-group">
            <label>docker run options</label>
            <input class="form-control"
                   placeholder="--privileged -v xx:/xx -p 8080:80 -e ABC=true ..."
                   v-model="project.docker.runOptions"/>
        </div>
        <!-- fast copy -->
        <div class="form-group">
            <label>Fast COPY</label>
            <div v-for="(v,i) in project.docker.volume"
                 style="border: 1px solid transparent;border-color: #0a6aa1;border-radius: 3px;">
                <div class="input-group">
                    <div class="input-group-addon">
                        <div style="width:70px;">Type</div>
                    </div>
                    <select class="form-control" v-model.number="v.type">
                        <option value="content">Content</option>
                        <option value="url">URL</option>
                    </select>
                    <div class="input-group-addon">
                        Path
                    </div>
                    <input class="form-control" v-model="v.path" placeholder="/a/b/c.json">
                    <div class="input-group-btn">
                        <a class="btn btn-success" v-if="i==0"
                           @click="objectArrayAdd(project.docker.volume,{type:'content'})"
                           style="width:80px;">ADD</a>
                        <a class="btn btn-danger" v-if="i>0" @click="objectArrayDel(project.docker.volume,i)"
                           style="width:80px;">DEL</a>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-group-addon">
                        <div style="width:70px;">Value</div>
                    </div>
                    <textarea class="form-control" v-model="v.content" placeholder="file content"
                              v-show="v.type=='content'" rows="8"></textarea>
                    <input class="form-control" v-model="v.content"
                           placeholder="url for example: https://a.com/abc.json"
                           v-show="v.type=='url'">
                </div>
            </div>
        </div>
    </div>

{{end}}









