{{define "project/config_mode_docker.html"}}

    <div v-show="project.mode=='docker' || project.mode=='image'">
        <!-- shell -->
        <div class="form-group">
            <label>
                Ci Shell
            </label>
            <textarea rows="10" class="form-control"
                      placeholder="(注意该脚本是在当前devops系统内处理）
docker build之前的准备脚本，如：git、maven、java、npm等处理"
                      v-model="project.docker.shell"></textarea>
        </div>
        <!-- dockerfile -->
        <div class="form-group">
            <label>
                Dockerfile</span>
            </label>

            <textarea rows="10" class="form-control"
                      placeholder="FROM nginx:alpine"
                      v-model="project.docker.dockerfile"></textarea>
        </div>
        <!-- run options -->
        <div class="form-group" v-if="project.mode=='docker'">
            <label>
                Docker run options (系统会自动追加 -i --name)
                &nbsp;<a @click="onDockerRunOptionsHelp()" href="javascript:"><span
                            class="lnr lnr-question-circle"></span></a>
            </label>
            <div class="input-group">
                <div class="input-group-addon">直接镜像</div>
                <input class="form-control" v-model="project.docker.image" placeholder="直接运行镜像（会覆盖上方Dockerfile）"/>
            </div>
            <textarea rows="10" class="form-control"
                      placeholder="--privileged -v xx:/xx -p 8080:80 -e ABC=true ... -d --restart=always"
                      v-model="project.docker.runOptions"></textarea>
        </div>
        <!-- fast copy -->
        <div class="form-group">
            <label>Docker COPY</label>
            <div v-for="(v,i) in project.docker.volume"
                 style="border: 1px solid transparent;border-color: #0a6aa1;border-radius: 3px;">
                <div class="input-group">
                    <div class="input-group-addon">
                        <div style="width:70px;">Type</div>
                    </div>
                    <select class="form-control" v-model.number="v.type">
                        <option value="content">Content</option>
                        <option value="url">URL</option>
                    </select>
                    <div class="input-group-addon">
                        Path
                    </div>
                    <input class="form-control" v-model="v.path" placeholder="/a/b/c.json">
                    <div class="input-group-btn">
                        <a class="btn btn-success" v-if="i==0"
                           @click="objectArrayAdd(project.docker.volume,{type:'content'})"
                           style="width:80px;">ADD</a>
                        <a class="btn btn-danger" v-if="i>0" @click="objectArrayDel(project.docker.volume,i)"
                           style="width:80px;">DEL</a>
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-group-addon">
                        <div style="width:70px;">Value</div>
                    </div>
                    <textarea class="form-control" v-model="v.content" placeholder="file content"
                              v-show="v.type=='content'" rows="8"></textarea>
                    <input class="form-control" v-model="v.content"
                           placeholder="url for example: https://a.com/abc.json"
                           v-show="v.type=='url'">
                </div>
            </div>
        </div>
    </div>

    <!-- docker run options help-->
    <div id="dockerRunOptionsHelp" style="padding: 20px;" hidden>
        <div style="color: #0a6aa1;">
            注意：多个options之间请使用空格间隔
        </div>
        <br>
        <div>
            <p>
                <b>容器在后台运行：</b>
            </p>
            <p>
                -d
            </p>
        </div>
        <br>
        <div>
            <p>
                <b>容器自动重启：</b>
            </p>
            <p>
                --restart=always
            </p>
        </div>
        <br>
        <div>
            <p>
                <b>追加环境变量：</b>
            </p>
            <p>
                -e APP_NAME=hello -e APP_RUN=/app
            </p>
        </div>
        <br>
        <div>
            <p>
                <b>追加宿主机挂载：</b>
            </p>
            <p>
                -v /data/app:/data
            </p>
        </div>
        <br>
        <div>
            <p>
                <b>端口映射：</b>
            </p>
            <p>
                -p 8080:80
            </p>
        </div>
        <br>
        <div>
            <p>
                <b>CPU限制：</b>
            </p>
            <p>
                权重设置：-c 1024
            </p>
            <p>
                核数限制：--cpus=2
            </p>
        </div>
        <br>
        <div>
            <p>
                <b>内存限制：</b>
            </p>
            <p>
                限制：-m 1024MB
            </p>
            <p>
                限制+保护：-m 3GB --oom-kill-disable
            </p>
        </div>
        <br>
        <div>
            <p>
                <b>磁盘限制：</b>
            </p>
            <p>
                读写权重：--blkio-weight 500
            </p>
            <p>
                限制写某个设备的bps：--device-write-bps /dev/sda:5MB
            </p>
            <p>
                限制读某个设备的bps：--device-read-bps /dev/sda:5MB
            </p>
            <p>
                限制写某个设备的每秒次数：--device-write-iops /dev/sda:1000
            </p>
            <p>
                限制读某个设备的每秒次数：--device-read-iops /dev/sda:1000
            </p>
        </div>
    </div>

    <script>
        vueMixinList.push({
            methods: {
                onDockerRunOptionsHelp() {
                    showDiv('#dockerRunOptionsHelp', 'docker run options help (-i --name会被自动注入切勿追加)', ['800px', '500px'], {
                        shadeClose: true, shade: 0.8, resize: false, btnAlign: 'c', moveType: 1, closeBtn: false,
                    });
                }
            }
        })
    </script>
{{end}}









