{{define "project/info.html"}}
    {{template "layout/top.html" .}}
    <!-- 基础信息 -->
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">
                <a href="/project">< 返回 |</a>
                <span v-if="!project.id">Project Create</span>
                <span v-if="project.id">Project Edit</span>
            </div>
            <div class="right">
                <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i>
                </button>
            </div>
        </div>
        <div class="panel-body" style="padding-left: 40px;">
            <div class="form-group">
                <label>名称<span style="color: #FF1717">*</span></label>
                <input type="text" class="form-control" v-model="project.name" placeholder="项目名称">
            </div>
            <div class="form-group">
                <label>描述</label>
                <input type="text" class="form-control" v-model="project.desc" placeholder="项目描述">
            </div>
            <div class="form-group">
                <label>钉钉Webhook</label>
                <input type="text" class="form-control" v-model="project.ding" placeholder="ding ding webhook url">
            </div>
            <div class="form-group">
                <label>部署模式</label>
                <select class="form-control" v-model="project.mode">
                    <option value="native">远程shell</option>
                    <option value="docker">远程docker</option>
                    <option value="image">docker镜像</option>
                </select>
            </div>
        </div>
    </div>
    <!-- 核心配置 -->
    <div class="panel">
        <div class="panel-heading">
            <h2 class="panel-title">核心配置</h2>
            <div class="right">
                <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i>
                </button>
            </div>
        </div>
        <div class="panel-body">
            {{ template "project/config_mode_native.html" . }}
            {{ template "project/config_mode_docker.html" . }}
        </div>
    </div>
    <!-- 核心配置End -->
    <div class="form-group">
        <a class="btn btn-primary" @click="onSave()">保存</a>
    </div>

    <script>
        var project = {{.project}};
        if (!project) {
            project = {mode: 'native'};
        }
        objectArrayInitForRender(project, "native.volume", {type: 'content'})
        objectArrayInitForRender(project, "docker.volume", {type: 'content'})
    </script>
    <!-- vue -->
    <script>
        vueMixin = {
            data: {
                project: project,
            },
            methods: {
                onSave() {
                    displayConfirm('确认提交?', '确认', '取消', () => {
                        var requestURL = baseURL('/project/save');
                        var data = deepCloneObject(this.project);
                        reqPostJson(requestURL, data, baseURL('/project'));
                    });
                },
            },
            created() {//初始化数据合法化
            },
        };
    </script>

    {{template "layout/footer.html" . }}
{{end}}