{{define "project/index.html"}}
    {{template "layout/top.html" .}}
    {{/*<script src="/public/assets/js/grayscale.js"></script>*/}}
    {{/*<style>*/}}
    {{/*body{*/}}
    {{/*-webkit-filter: grayscale(100%);*/}}
    {{/*-moz-filter: grayscale(100%);*/}}
    {{/*-ms-filter: grayscale(100%);*/}}
    {{/*-o-filter: grayscale(100%);*/}}
    {{/*filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);*/}}
    {{/*_filter: none;*/}}
    {{/*}*/}}
    {{/*</style>*/}}
    <!-- MAIN CONTENT -->
    {{/*    <script>*/}}
    {{/*        redirectTLS();*/}}
    {{/*    </script>*/}}

    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">项目列表 (暂不支持按版本号回滚）</div>
            <div class="right">
                <a href="/project/create" class="btn btn-sm btn-success">
                    <span class="lnr lnr-plus-circle"></span>
                    创建
                </a>
            </div>
        </div>
        <div class="panel-body">
            {{ template "project/search.html" .}}
            <table class="table table-hover" style="margin-top: 10px;">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="v in list">
                    <td>${v.id}</td>
                    <td>
                        <a data-toggle="tooltip" data-placement="bottom" :title="v.desc"
                           :href="baseURL('/project/i',v.id)">${v.name}</a>
                    </td>
                    <td>
                        <div v-if="!v.history">
                            <span class="label label-default">-</span>
                        </div>
                        <div v-if="v.history && !v.history.status">
                            <i class="fa fa-spinner fa-spin"></i>部署中
                            ${v.history.createdAt}
                        </div>
                        <div v-if="v.history && v.history.status=='deleted'">
                            <span class="label label-warning">已删除</span>
                            ${v.history.createdAt}
                        </div>
                        <div v-if="v.history && v.history.status=='ok'">
                            <span class="label label-success">成功</span>
                            ${v.history.updatedAt}
                        </div>
                        <div v-if="v.history && v.history.status=='error'">
                            <a class="label label-danger" :href="baseURL('/history?id='+v.history.id)">失败</a>
                            ${v.history.updatedAt}
                        </div>
                    </td>
                    <td>
                        <a :href="baseURL('/project/i',v.id,'/apply')" class="btn btn-xs btn-default">
                            部署
                        </a>
                        <span v-if="v.mode=='docker'">
                            <a class="btn btn-xs btn-primary" v-if="v.history && v.history.status!='deleted'"
                               :href="baseURL('/project/i',v.id,'/pod')">节点</a>
                            <a class="btn btn-xs btn-danger" v-if="v.history && v.history.status!='deleted'"
                               @click="onDel(v)">移除</a>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- 分页  -->
    <div class="panel-body navbar-right">
        {{ .rendering }}
    </div>

    <script>
        vueMixin = {
            data: {
                list:{{.list}},
                historyList:{{.historyList}},
                search:{{.search}},
                location: '/project',
            },
            methods: {
                onSearch() {
                    window.location = this.location + '?' + $.param(this.search);
                },
                onDel(project) {
                    displayConfirm('确认移除该项目？', '确认', '取消', () => {
                        reqDel(baseURL('/project/i', project.id));
                    });
                }
            },
            created() {
                for (var project of this.list) {
                    for (var history of this.historyList) {
                        if (history.projectId === project.id) {
                            project.history = history;
                        }
                    }
                }
            }
        };
    </script>

    {{template "layout/footer.html" . }}
{{end}}









