{{define "project/index.html"}}
    {{template "layout/top.html" .}}
    {{/*<script src="/public/assets/js/grayscale.js"></script>*/}}
    {{/*<style>*/}}
    {{/*body{*/}}
    {{/*-webkit-filter: grayscale(100%);*/}}
    {{/*-moz-filter: grayscale(100%);*/}}
    {{/*-ms-filter: grayscale(100%);*/}}
    {{/*-o-filter: grayscale(100%);*/}}
    {{/*filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1);*/}}
    {{/*_filter: none;*/}}
    {{/*}*/}}
    {{/*</style>*/}}
    <!-- MAIN CONTENT -->
    {{/*    <script>*/}}
    {{/*        redirectTLS();*/}}
    {{/*    </script>*/}}

    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">项目列表 (暂不支持按版本号回滚）</div>
            <div class="right">
                <a href="/project/create" class="btn btn-sm btn-success">
                    <span class="lnr lnr-plus-circle"></span>
                    创建
                </a>
            </div>
        </div>
        <div class="panel-body">
            {{ template "project/search.html" .}}
            <table class="table table-hover" style="margin-top: 10px;">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="v in list">
                    <td>${v.id}</td>
                    <td>
                        <a data-toggle="tooltip" data-placement="bottom" :title="v.desc"
                           :href="baseURL('/project/i',v.id)">${v.name}</a>
                        <div v-if="v.mode=='image'">镜像构建：${registryPath}/${v.name}</div>
                        <div v-if="v.cronjob">定时任务：${v.cronjob}</div>
                    </td>
                    <td>
                        <div v-if="!v.history">
                            <span class="label label-default">-</span>
                        </div>
                        <div v-if="v.history && !v.deleted">
                            <span v-if="!v.history.status"><i class="fa fa-spinner fa-spin"></i>${v.history.rollback?'回滚中':'部署中'}</span>
                            <a class="label label-success" :href="baseURL('/history?pid='+v.id)"
                               v-if="v.history.status=='ok'">${v.history.rollback?'回滚成功':'成功'}</a>
                            <a class="label label-danger" :href="baseURL('/history?id='+v.history.id)"
                               v-if="v.history.status=='error'">${v.history.rollback?'回滚失败':'失败'}</a>
                            <span v-if="v.history.status=='ok' || v.history.status=='error'">
                                耗时：${secondToString(v.history.useTime)}
                            </span>
                            <div>
                                ${v.history.updatedAt}
                            </div>
                        </div>
                        <div v-if="v.deleted">
                            <span class="label label-warning">已删除</span>
                        </div>
                    </td>
                    <td>
                        <a :href="baseURL('/project/i',v.id,'/apply')" class="btn btn-xs btn-default" v-if="!v.cronjob">
                            ${v.mode=='image'?'构建':'部署'}
                        </a>
                        <span v-if="v.cronjob">
                            <a class="btn btn-xs btn-default" v-if="!v.cronjobInstance"
                               :href="baseURL('/project/i',v.id,'/apply')">启动</a>
                            <a class="btn btn-xs btn-warning" v-if="v.cronjobInstance" @click="onCronjobStop(v)">停止</a>
                        </span>
                        <span v-if="v.mode=='docker'">
                            <a class="btn btn-xs btn-primary" v-if="!v.deleted && v.history && v.history.status=='ok'"
                               :href="baseURL('/project/i',v.id,'/pod')">节点</a>
                        </span>
                        <span>
                            <a class="btn btn-xs btn-danger" @click="onDel(v)">DEL</a>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- 分页  -->
    <div class="panel-body navbar-right">
        {{ .rendering }}
    </div>

    <script>
        vueMixin = {
            data: {
                registryPath:{{.registryPath}},
                tags:{{.tags}},
                list:{{.list}},
                historyList:{{.historyList}},
                cronjobList:{{.cronjobList}},
                search:{{.search}},
                location: '/project',
            },
            methods: {
                onSearch() {
                    window.location = this.location + '?' + $.param(this.search);
                },
                onDel(project) {
                    displayConfirm('确认移除该项目？', '确认', '取消', () => {
                        reqDel(baseURL('/project/i', project.id));
                    });
                },
                onCronjobStop(project) {
                    displayConfirm(`确认停止该项目${project.name}的cronjob`, '确认', '取消', () => {
                        reqPost(baseURL('/project/i', project.id, '/offline'));
                    });
                }
            },
            created() {
                for (var project of this.list) {
                    for (var history of this.historyList) {
                        if (history.projectId === project.id) {
                            project.history = history;
                        }
                    }
                    for (var cronjob of this.cronjobList) {
                        if (cronjob.projectId === project.id) {
                            project.cronjobInstance = cronjob;
                        }
                    }
                }
            }
        };
    </script>

    {{template "layout/footer.html" . }}
{{end}}









