{{define "project/pod.html"}}
    {{template "layout/top.html" .}}
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">
                <a style="color: #0a6aa1" :href="baseURL('/project?name='+project.id)">< 返回 | </a>项目节点管理
            </div>
            <div class="right">
            </div>
        </div>
        <div class="panel-body">
            <div>
                <p>Project: ${project.name}</p>
                <p>Time: ${history.updatedTime}</p>
            </div>
            <br>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Node IP</th>
                    <th>State</th>
                    <th>Operation</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="v in history.nodes">
                    <td>
                        <a :href="baseURL('/node?name='+v.ip)" style="color: #0a6aa1">${v.ip}</a>
                    </td>
                    <td>
                        <div v-if="!v.removed">
                            <pre>${v.inspect ? v.inspect.State : '...'}</pre>
                            <pre>${v.inspect ? v.inspect.NetworkSettings.Ports : '...'}</pre>
                        </div>
                    </td>
                    <td v-if="!v.removed">
                        <div>
                            <a class="btn btn-sm btn-default" @click="onLog(v)">Log</a>
                            <a class="btn btn-sm btn-primary" @click="onTty(v)">TTY</a>
                            <a class="btn btn-sm btn-danger" @click="onDel(v)">Del</a>
                            <a class="btn btn-sm btn-info"
                               @click="onDisplay(v.inspect)">...</a>
                        </div>
                    </td>
                    <td v-if="v.removed">
                        该节点服务已被移除
                    </td>
                </tr>
                </tbody>
            </table>
            <br>
        </div>
    </div>
    <div id="display-container" style="padding: 20px;" hidden>
        <pre>${display}</pre>
    </div>
    <!-- tty layer-->
    <div id="tty-container"
         style="width:100%;height:100%;background-color:#0C0C0C;padding: 10px;" hidden>
        <iframe id="tty" style="width: 100%;height:100%;border: medium none;"></iframe>
    </div>
    <script>
        vueMixin = {
            data: {
                project:{{.project}},
                history:{{.history}} ,
                openContainerIndex: 0,
                display: '',
            },
            methods: {
                onDisplay(content) {
                    this.display = content;
                    showDiv('display-container', '详细信息', ['800px', '600px'])
                },
                onLog(node) {
                    this.displayFrame(
                        `Node: ${node.ip} Container: ${this.project.name} Std`,
                        `/tty/create?code=containerLogs&id=${this.history.id}&pod=${node.id}`
                    );
                },
                onTty(node) {
                    this.displayFrame(
                        `Node: ${node.ip} Container: ${this.project.name} Exec`,
                        `/tty/create?code=containerExec&id=${this.history.id}&pod=${node.id}`
                    );
                },
                onDel(node) {
                    displayConfirm(`确认移除${node.ip}上的节点？`, '确认', '取消', () => {
                        reqDelWithoutData(baseURL('/project/i', this.project.id, 'pod?nid=' + node.id));
                    });
                },
                onLoadDockerInspect() {
                    var list = [];
                    for (var item of this.history.nodes) {
                        if (item.removed) {
                            continue;
                        }
                        list.push({nodeId: item.id, containerName: this.project.name});
                    }
                    if (!list.length) {
                        return;
                    }
                    reqPostJson('/api/docker/inspect', {list: list}, (resData) => {
                        for (var node of this.history.nodes) {
                            var nodeKey = node.id + '.' + this.project.name;
                            for (var key in resData) {
                                if (nodeKey === key) {
                                    this.$set(node, 'inspect', resData[key]);
                                }
                            }
                        }
                    }, {loading: false});
                },
                onFrameResize() {
                    if (this.openContainerIndex) {
                        layui.layer.style(this.openContainerIndex, {
                            left: 0, top: 0, width: $(window).width(), height: $(window).height()
                        });
                    }
                },
                displayFrame(title, uri) {
                    reqPost(uri, null, (resData) => {
                        var frameURL = baseURL('/tty/port', resData.port, '/connect');
                        this.openContainerIndex = layui.layer.open({
                            type: 1,
                            area: [$(window).width() + 'px', $(window).height() + 'px'],
                            title: title,
                            content: $('#tty-container'),
                            anim: 2,
                            success: (layero, index) => {
                                //open tty
                                $(window).bind("resize", this.onFrameResize);
                                this.onFrameResize();
                                $('#tty').attr('src', frameURL);
                            },
                            cancel: () => {
                                this.openContainerIndex = 0;
                                $(window).unbind("resize", this.onFrameResize);
                                $('#tty').attr('src', '');
                            }
                        });
                    });
                },
            },
            mounted() {
                this.onLoadDockerInspect();
            }
        }
    </script>

    {{template "layout/footer.html" . }}
{{end}}