{{define "history/index.html"}}
    {{template "layout/top.html" .}}
    {{/*    <script>*/}}
    {{/*        redirectTLS();*/}}
    {{/*    </script>*/}}

    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">项目部署历史</div>
            {{/*            <div class="right">*/}}
            {{/*            </div>*/}}
        </div>
        <div class="panel-body">
            {{ template "history/search.html" .}}
            <table class="table table-hover" style="margin-top: 10px;">
                <thead>
                <tr>
                    <th>部署ID</th>
                    <th>开发者</th>
                    <th>Node</th>
                    <th>Project / Version</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="v in list">
                    <td>
                        ${v.id}
                    </td>
                    <td>
                        <div :data-developer="v.uid" v-html="developersHtml[v.uid]"></div>
                    </td>
                    <td>
                        <div v-for="(node,nodeIndex) in v.nodes" v-if="v.project.mode!='image' && v.nodes">
                            <a :href="baseURL('/node?name='+node.ip)" v-if="nodeIndex<2">${node.ip}</a>
                            <span v-if="nodeIndex==2">...</span>
                        </div>
                        <div v-if="v.project.mode=='image'">镜像构建类</div>
                    </td>
                    <td>
                        <span>
                            <a :href="baseURL('/project?name='+v.project.id)">${v.project.name}</a> /
                        </span>
                        <span class="badge">
                            <a style="color: #FFFFFF;" data-toggle="tooltip" data-placement="bottom"
                               :title="v.desc"
                               :href="baseURL('/history/i',v.id)">${v.version}</a>
                        </span>
                    </td>
                    <td>
                        <div>
                            <span v-if="v.status==''"><i class="fa fa-spinner fa-spin"></i>${v.rollback?'回滚中':'部署中'}</span>
                            <span v-if="v.status=='ok'"><label class="label label-success">${v.rollback?'回滚成功':'成功'}</label></span>
                            <span v-if="v.status=='error'"><label class="label label-danger">${v.rollback?'回滚失败':'失败'}</label></span>
                            耗时：${secondToString(v.useTime)}
                        </div>

                        <div>
                            ${v.updatedTime}
                        </div>
                    </td>
                    <td>
                        <div><a :href="baseURL('/history/i',v.id)">查看</a></div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- 分页  -->
    <div class="panel-body navbar-right">
        {{ .rendering }}
    </div>
    <!-- TTY Layer -->
    <div id="tty-container"
         style="width:100%;height:100%;background-color:#0C0C0C;padding: 10px;display: none;" hidden>
        <iframe id="tty" style="width: 100%;height:100%;border: medium none;"></iframe>
    </div>


    <script>
        vueMixin = {
            data: {
                list:{{.list}},
                search:{{.search}},
                location: '/history',
            },
            methods: {
                onSearch() {
                    window.location = this.location + '?' + $.param(this.search);
                },
            },
            mounted() {
            }
        };
    </script>

    {{template "layout/footer.html" . }}
{{end}}









