{{define "history/info.html"}}
    {{template "layout/top.html" .}}
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">
                <a href="/history">< 返回 | </a> <a :href="baseURL('/project?name='+info.project.id)" style="color: #0a6aa1">${info.project.name}</a> ${info.createdAt} ID: ${info.id}
                <span v-if="info.status=='ok'"><label class="label label-success">成功</label></span>
                <span v-if="info.status=='error'"><label class="label label-danger">失败</label></span>
                <span v-if="!info.status"><i class="fa fa-spinner fa-spin"></i>部署中</span>
            </div>
        </div>
        <div class="panel-body">
            <!-- log Layer -->
            <div id="log-container" onkeydown="return false;" onmousedown="return false;"
                 style="width:100%;height:100%;background-color:#0C0C0C;padding: 10px">
                <iframe id="log" style="width: 100%;height:100%;border: medium none;"></iframe>
            </div>
        </div>
    </div>
    <script>
        vueMixin = {
            data: {
                info:{{.history}},
            },
            methods: {
                onResize() {
                    var frame = $('#log');
                    var height = $(window).height() - frame.offset().top - 50;
                    frame.css('height', height + 'px');
                }
            },
            mounted() {
                this.onResize();
                $(window).bind('resize', this.onResize);
                reqPost(`/tty/create?code=tail&id=${this.info.id}`, null, (resData) => {
                    var frameURL = baseURL('/tty/port', resData.port, '/connect');
                    $('#log').attr('src', frameURL);
                });
            }
        }
    </script>

    {{template "layout/footer.html" . }}
{{end}}