{{define "common/developer.html"}}
<!-- 开发者专用弹框组件 -->
<script>
    $(function (){
        $('.btn-developer').click(function () {
            //loading层
            var loadingIndex = layui.layer.load(1, {shade: [0.1, '#000000']});
            $.ajax({
                url: "/global/gid/" + $(this).data('gid'),
                dataType: 'json',
                type: 'get',
                success: function (r) {
                    layui.layer.close(loadingIndex);
                    if (r.code) {
                        layui.layer.alert(r.msg);
                        return;
                    }
                    var layerIndex = layui.layer.open({
                        type: 1,
                        area: ['480px', '280px'],
                        title: "开发者",
                        content: "<div style='width：100%;height:100%;text-align:center;background-color: #EEEEEE'> " +
                            "<br><img src='" + r.data.avatarUrl + "' class='layui-circle' style='width:120px;height:120px;background-color: #CCCCCC;'/>" +
                            "<br><br><h4>" + r.data.userName + " " + r.data.realName + "</h4><br>" +
                            "<a class='btn btn-primary' target='_blank' href='" + r.data.webUrl + "'>点击查看</a></div>",
                        success: function (index, layero) {
                        },
                        cancel: function (index, layero) {
                        }
                    });
                }, error: function (e) {
                    layui.layer.close(loadingIndex);
                    layui.layer.alert('服务器错误');
                }
            });
        });
    });

</script>
{{end}}