{{define "node/index.html"}}
    {{template "layout/top.html" .}}
    <script>
        redirectTLS();
    </script>

    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">宿主机列表</div>
            <div class="right">
                <a href="/node/create" class="btn btn-sm btn-success">
                    <span class="lnr lnr-plus-circle"></span>
                    创建
                </a>
            </div>
        </div>
        <div class="panel-body">
            {{ template "node/search.html" .}}
            <table class="table table-hover" style="margin-top: 10px;">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>IP</th>
                    <th>连接方式</th>
                    <th>时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="v in list">
                    <td>
                        ${v.id}
                    </td>
                    <td>
                        <div><a data-toggle="tooltip" data-placement="bottom" :title="v.desc"
                                :href="baseURL('/node/i',v.id)">${v.name}</a></div>
                    </td>
                    <td>
                        <span>${v.ip}</span>
                        <a href="javascript:" class="label label-success" @click="layer.alert(v.stateContent)"> <span
                                    v-if="v.stateContent && !v.stateError">dockered</span></a>
                        <a href="javascript:" class="label label-danger" @click="layer.alert(v.stateContent)"> <span
                                    v-if="v.stateContent && v.stateError">no docker</span></a>
                    </td>
                    <td>
                        <div v-if="v.sshKey">auth</div>
                        <div v-if="!v.sshKey">password</div>
                    </td>
                    <td>
                        ${v.createdAt}
                    </td>
                    <td>
                        <a class="btn btn-xs btn-primary" @click="onNodeTty(v)">
                            连接
                        </a>
                        <a class="btn btn-xs btn-danger">
                            移除
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- 分页  -->
    <div class="panel-body navbar-right">
        {{ .rendering }}
    </div>
    <!-- TTY Layer -->
    <div id="tty-container"
         style="width:100%;height:100%;background-color:#0C0C0C;padding: 10px;display: none;" hidden>
        <iframe id="tty" style="width: 100%;height:100%;border: medium none;"></iframe>
    </div>


    <script>
        vueMixin = {
            data: {
                list:{{.list}},
                search:{{.search}},
                envList:{{.envList}},
                location: '/node',
                openTtyIndex: 0,
            },
            methods: {
                onSearch() {
                    window.location = this.location + '?' + $.param(this.search);
                },
                onNodeTty(v) {//node tty enter
                    reqPost(`/tty/create?code=node&id=${v.id}`, null, (resData) => {
                        var ttyURL = baseURL('/tty/port', resData.port, '/connect');
                        var title = `Node: ${v.name} IP：${v.ip} 端口：${v.sshPort}`;
                        this.openTtyIndex = layui.layer.open({
                            type: 1, anim: 2, content: $('#tty-container'), title: title,
                            area: [$(window).width() + 'px', $(window).height() + 'px'],
                            success: () => {
                                this.onResize();
                                $('#tty').attr('src', ttyURL);
                            },
                            cancel: () => {
                                this.openTtyIndex = 0;
                                $('#tty').attr('src', 'about:blank');
                            }
                        });
                    });
                },
                onResize() {//window resize
                    if (this.openTtyIndex) {
                        layui.layer.style(this.openTtyIndex, {
                            left: 0, top: 0, width: $(window).width(), height: $(window).height()
                        });
                    }
                },
                onReloadState() {//refresh node state
                    var ids = [];
                    for (var i of this.list) {
                        ids.push(i.id);
                    }
                    reqPostJson('/node/state', {ids: ids}, (resData) => {
                        for (var node of this.list) {
                            for (var keyID in resData) {
                                var state = resData[keyID]
                                if (state.id === node.id) {
                                    this.$set(node, 'stateContent', state.content);
                                    this.$set(node, 'stateError', state.error);
                                }
                            }
                        }
                    }, {loading: false});
                }
            },
            created() {
            },
            mounted() {
                $(window).resize(this.onResize);
                this.onReloadState();
            }
        };
    </script>

    {{template "layout/footer.html" . }}
{{end}}









