{{define "node/index.html"}}
    {{template "layout/top.html" .}}
    {{/*    <script>*/}}
    {{/*        redirectTLS();*/}}
    {{/*    </script>*/}}

    <div class="panel">
        <div class="panel-heading">
            <div class="panel-title">宿主机列表</div>
            <div class="right">
                <a href="/node/create" class="btn btn-sm btn-success">
                    <span class="lnr lnr-plus-circle"></span>
                    创建
                </a>
            </div>
        </div>
        <div class="panel-body">
            {{ template "node/search.html" .}}
            <table class="table table-hover" style="margin-top: 10px;">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th>IP</th>
                    <th>连接方式</th>
                    <th>时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="v in list">
                    <td>
                        ${v.id}
                    </td>
                    <td>
                        <div>
                            <a data-toggle="tooltip" data-placement="bottom" :title="v.desc"
                               :href="baseURL('/node/i',v.id)">${v.name}</a>
                        </div>
                    </td>
                    <td>
                        <a class="lnr lnr-layers" v-if="v.stats"></a>
                        <span>${v.ip}</span>
                        <a href="javascript:" class="label label-success" @click="layer.alert(v.stateContent)"> <span
                                    v-if="v.stateContent && !v.stateError">dockered</span></a>
                        <a href="javascript:" class="label label-danger" @click="layer.alert(v.stateContent)"> <span
                                    v-if="v.stateContent && v.stateError">no docker</span></a>
                    </td>
                    <td>
                        <div v-if="v.sshKey">auth</div>
                        <div v-if="!v.sshKey">password</div>
                    </td>
                    <td>
                        ${v.createdAt}
                    </td>
                    <td>
                        <a class="btn btn-xs btn-default" @click="onDisplayContainer(v)" v-if="v.stats">
                            容器
                        </a>
                        <a class="btn btn-xs btn-primary" @click="onNodeTty(v)">
                            连接
                        </a>
                        <a class="btn btn-xs btn-danger" @click="onDel(v)">
                            移除
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- 分页  -->
    <div class="panel-body navbar-right">
        {{ .rendering }}
    </div>
    <!-- TTY Layer -->
    <div id="tty-container"
         style="width:100%;height:100%;background-color:#0C0C0C;padding: 10px;display: none;" hidden>
        <iframe id="tty" style="width: 100%;height:100%;border: medium none;"></iframe>
    </div>
    <!-- container display Layer -->
    <div id="display" style="padding: 20px;" hidden>
        <table class="table">
            <thead>
            <tr>
                <th>ID/Name</th>
                <th>BlockIO/NetIO</th>
                <th>CPU</th>
                <th>Memory</th>
                <th>Other</th>
            </tr>
            </thead>
            <tbody v-if="editor.stats && editor.stats">
            <tr v-for="v in editor.stats">
                <td>
                    <div>
                        ${v.ID}
                    </div>
                    <div>
                        <label class="label label-primary">${v.Name}</label>
                    </div>
                </td>
                <td>
                    <div>
                        ${v.BlockIO}
                    </div>
                    <div>
                        ${v.NetIO}
                    </div>
                </td>
                <td>${v.CPUPerc}</td>
                <td>
                    <div>${v.MemPerc}</div>
                    <div>${v.MemUsage}</div>
                </td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            Action <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
{{/*                            <li>*/}}
{{/*                                <a @click="onContainerStdout(v)" href="javascript:">Stdout</a>*/}}
{{/*                            </li>*/}}
{{/*                            <li>*/}}
{{/*                                <a @click="onContainerTty(v)" href="javascript:">TTY</a>*/}}
{{/*                            </li>*/}}
{{/*                            <li role="separator" class="divider" href="javascript:"></li>*/}}
{{/*                            <li>*/}}
{{/*                                <a @click="onContainerRestart(v)" href="javascript:">Restart</a>*/}}
{{/*                            </li>*/}}
{{/*                            <li role="separator" class="divider" href="javascript:"></li>*/}}
{{/*                            <li>*/}}
{{/*                                <a @click="onContainerDel(v)" href="javascript:">Delete</a>*/}}
{{/*                            </li>*/}}
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <script>
        vueMixin = {
            data: {
                list:{{.list}},
                search:{{.search}},
                envList:{{.envList}},
                location: '/node',
                openTtyIndex: 0,
                editor: [],
                loadingDockerStats: false,
            },
            methods: {
                onSearch() {
                    window.location = this.location + '?' + $.param(this.search);
                },
                onDel(item) {
                    displayConfirm(`确认移除Node: ${item.ip}?`, '确认', '取消', () => {
                        var requestURL = baseURL('/node/i', item.id);
                        reqDelWithoutData(requestURL);
                    });
                },
                onNodeTty(v) {//node tty enter
                    reqPost(`/tty/create?code=node&id=${v.id}`, null, (resData) => {
                        var ttyURL = baseURL('/tty/port', resData.port, '/connect');
                        var title = `Node: ${v.name} IP：${v.ip} 端口：${v.sshPort}`;
                        this.openTtyIndex = layui.layer.open({
                            type: 1, anim: 2, content: $('#tty-container'), title: title,
                            area: [$(window).width() + 'px', $(window).height() + 'px'],
                            success: () => {
                                this.onResize();
                                $('#tty').attr('src', ttyURL);
                            },
                            cancel: () => {
                                this.openTtyIndex = 0;
                                $('#tty').attr('src', 'about:blank');
                            }
                        });
                    });
                },
                onResize() {//window resize
                    if (this.openTtyIndex) {
                        layui.layer.style(this.openTtyIndex, {
                            left: 0, top: 0, width: $(window).width(), height: $(window).height()
                        });
                    }
                },
                onDisplayContainer(node) {
                    this.editor = node;
                    showDiv('#display', `宿主机${node.ip}容器列表`, ['900px', '600px']);
                },
                onReloadDockerVersion() {//refresh node state
                    var ids = [];
                    for (var i of this.list) {
                        ids.push(i.id);
                    }
                    reqPostJson('/node/docker/version', {ids: ids}, (resData) => {
                        for (var node of this.list) {
                            for (var key in resData) {
                                var item = resData[key];
                                if (item.id === node.id) {
                                    this.$set(node, 'stateContent', item.content);
                                    this.$set(node, 'stateError', item.error);
                                }
                            }
                        }
                    }, {loading: false});
                },
                onReloadDockerStats() {//refresh node state
                    if (this.loadingDockerStats) {
                        return;
                    }
                    var ids = [];
                    for (var i of this.list) {
                        ids.push(i.id);
                    }
                    reqPostJson('/node/docker/stats', {ids: ids}, (resData) => {
                        for (var node of this.list) {
                            for (var keyID in resData) {
                                if (keyID == node.id) {
                                    this.$set(node, 'stats', resData[keyID]);
                                }
                            }
                        }
                        this.loadingDockerStats = false;
                    }, {loading: false, noCatch: true});
                }
            },
            created() {
            },
            mounted() {
                $(window).resize(this.onResize);
                this.onReloadDockerVersion();
                this.onReloadDockerStats();
                setInterval(this.onReloadDockerStats, 20000);
            }
        };
    </script>

    {{template "layout/footer.html" . }}
{{end}}









